Repository rvelez140/segurepas-prueba: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "apps/api/src/**/*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "apps/web/src/**/*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "apps/web/src/**/*.{css,scss}": [
    "prettier --write",
    "stylelint --fix"
  ],
  "**/*.{json,md}": [
    "prettier --write"
  ]
}

fix: Corregir errores de tipos TypeScript en Sentry y Zod
  apps/api/src/config/sentry.ts
  apps/api/src/middlewares/validationMiddleware.ts
Due: prettier --write, eslint --fix

feat: Implementar sistema completo de modo oscuro en todos los aplicativos
  DARK_MODE_GUIDE.md
  apps/desktop/src/main.ts
  apps/desktop/src/preload.ts
  apps/mobile/App.tsx
  apps/mobile/src/components/settings/ThemeToggle.tsx
  apps/mobile/src/contexts/ThemeContext.tsx
  apps/web/src/components/settings/ThemeToggle.tsx
  apps/web/src/contexts/ThemeContext.tsx
  apps/web/src/styles/themeToggle.module.css
Due: prettier --write, eslint --fix, stylelint --fix

feat: Configurar instalación completa de Git y Docker en VPS
  README.md
  VPS_INSTALLATION.md
  apps/web/Dockerfile
  docker-compose.local.yml
  scripts/vps-install.sh
Due: prettier --write

docs: Agregar documentación completa de gestión segura de credenciales de base de datos
  docs/PRODUCCION-SETUP.md
  docs/SEGURIDAD-DB.md
  scripts/README.md
  scripts/generate-credentials.sh
  scripts/github-secrets-template.md
  scripts/setup-production-server.sh
Due: prettier --write

feat: Actualizar configuración del proyecto con mejoras de seguridad y documentación
  .env.example
  .env.production.example
  README.md
  apps/api/.env.example
  package.json
Due: prettier --write

feat: Cambiar puertos a valores menos comunes para mejorar seguridad
  .env.example
  .env.production.example
  CICD_SETUP.md
  DEPLOYMENT.md
  MONGODB_SETUP.md
  README.md
  apps/api/.env.example
  apps/api/src/index.ts
  apps/desktop/.env.example
  docker-compose.local.yml
  docker-compose.production.yml
Due: prettier --write, eslint --fix

feat: Agregar script de instalación para segunda instancia segurepas2
  VPS_INSTALLATION_SEGUREPAS2.md
  scripts/vps-install-segurepas2.sh
Due: prettier --write

fix: Cambiar URL de clonación a SSH en script de instalación segurepas2
  scripts/vps-install-segurepas2.sh
Due: none

fix: Agregar propiedad vehiclePlate y handlers OCR faltantes en VisitFormModal
  apps/web/src/components/authorization/VisitFormModal.tsx
Due: prettier --write, eslint --fix

feat: Agregar script y guía completa para instalación Docker en VPS
  DOCKER_INSTALL_GUIDE.md
  nginx/nginx.conf.dev
  scripts/vps-docker-install.sh
Due: prettier --write

fix: Agregar script para corregir estructura de usuario admin en MongoDB
  DOCKER_INSTALL_GUIDE.md
  scripts/fix-admin-user.js
  scripts/fix-admin-user.sh
Due: prettier --write

fix: Actualizar contraseña admin a admin123 (8 caracteres mínimo)
  DOCKER_INSTALL_GUIDE.md
  scripts/fix-admin-user.js
  scripts/fix-admin-user.sh
Due: prettier --write

feat: Agregar script Node.js para crear usuario admin desde contenedor API
  scripts/create-admin.js
Due: none

feat: Agregar scripts y guía para crear usuario administrador
  ADMIN_SETUP_GUIDE.md
  scripts/create-admin.js
  scripts/setup-admin.sh
Due: prettier --write

feat: Agregar soporte completo para despliegue con aaPanel
  AAPANEL_SETUP.md
  scripts/README.md
  scripts/aapanel-deploy.sh
  scripts/generate-env.sh
Due: prettier --write

feat: Agregar automatización completa para construcción de imágenes Docker
  Makefile
  docs/BUILD_IMAGES.md
  scripts/build-images.sh
Due: prettier --write

feat: Implementar backend completo para funcionalidades avanzadas
  apps/api/src/controllers/bookingController.ts
  apps/api/src/controllers/chatController.ts
  apps/api/src/controllers/eventController.ts
  apps/api/src/controllers/packageController.ts
  apps/api/src/controllers/parkingController.ts
  apps/api/src/index.ts
  apps/api/src/models/Booking.ts
  apps/api/src/models/Chat.ts
  apps/api/src/models/CommonSpace.ts
  apps/api/src/models/Event.ts
  apps/api/src/models/Package.ts
  apps/api/src/models/ParkingEntry.ts
  apps/api/src/models/Vehicle.ts
  apps/api/src/routes/bookingRoutes.ts
  apps/api/src/routes/chatRoutes.ts
  apps/api/src/routes/eventRoutes.ts
  apps/api/src/routes/packageRoutes.ts
  apps/api/src/routes/parkingRoutes.ts
Due: prettier --write, eslint --fix

feat: Implementar autenticación avanzada con 2FA, QR login, magic links y gestión de dispositivos
  apps/api/.env.example
  apps/api/README_AUTH.md
  apps/api/package-lock.json
  apps/api/package.json
  apps/api/src/controllers/authController.ts
  apps/api/src/controllers/deviceController.ts
  apps/api/src/controllers/magicLinkController.ts
  apps/api/src/controllers/qrLoginController.ts
  apps/api/src/controllers/twoFactorController.ts
  apps/api/src/index.ts
  apps/api/src/interfaces/IUser.ts
  apps/api/src/models/Device.ts
  apps/api/src/models/MagicLink.ts
  apps/api/src/models/QRLoginSession.ts
  apps/api/src/models/User.ts
  apps/api/src/routes/deviceRoutes.ts
  apps/api/src/routes/magicLinkRoutes.ts
  apps/api/src/routes/qrLoginRoutes.ts
  apps/api/src/routes/twoFactorRoutes.ts
  apps/api/src/services/DeviceService.ts
  apps/api/src/services/MagicLinkService.ts
  apps/api/src/services/QRLoginService.ts
  apps/api/src/services/TwoFactorService.ts
Due: prettier --write, eslint --fix

feat(security): add comprehensive security scanning and dependency management
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/security-scan.yml
Due: none

feat(api): implement structured logging with Winston
  apps/api/package.json
  apps/api/src/config/logger.ts
  apps/api/src/middlewares/loggingMiddleware.ts
Due: prettier --write, eslint --fix

feat(ci): add conventional commits and automatic changelog generation
  .husky/commit-msg
  .versionrc.json
  commitlint.config.js
  package.json
Due: prettier --write

feat(devops): add development container configuration
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/mongo-init.js
  .devcontainer/post-create.sh
Due: prettier --write

feat(devops): add VS Code workspace configuration and debugging
  .vscode/extensions.json
Due: prettier --write

feat(devops): add automated development environment setup script
  scripts/dev-setup.sh
Due: none

docs: add comprehensive contributing guidelines
  CONTRIBUTING.md
Due: prettier --write

feat: Implementar suite completa de tests unitarios para API
  apps/api/jest.config.js
  apps/api/src/models/Device.ts
  apps/api/src/models/MagicLink.ts
  apps/api/src/models/QRLoginSession.ts
  apps/api/src/services/DeviceService.ts
  apps/api/src/services/QRLoginService.ts
  apps/api/tests/helpers/mockModels.ts
  apps/api/tests/helpers/mockRequest.ts
  apps/api/tests/setup.ts
  apps/api/tests/unit/controllers/accessListController.test.ts
  apps/api/tests/unit/controllers/analyticsController.test.ts
  apps/api/tests/unit/controllers/auditController.test.ts
  apps/api/tests/unit/controllers/authController.test.ts
  apps/api/tests/unit/controllers/deviceController.test.ts
  apps/api/tests/unit/controllers/magicLinkController.test.ts
  apps/api/tests/unit/controllers/notificationController.test.ts
  apps/api/tests/unit/controllers/parkingController.test.ts
  apps/api/tests/unit/controllers/paymentController.test.ts
  apps/api/tests/unit/controllers/qrLoginController.test.ts
  apps/api/tests/unit/controllers/recurringVisitController.test.ts
  apps/api/tests/unit/controllers/subscriptionController.test.ts
  apps/api/tests/unit/controllers/twoFactorController.test.ts
  apps/api/tests/unit/controllers/userController.test.ts
  apps/api/tests/unit/controllers/visitController.test.ts
Due: prettier --write, eslint --fix

fix: Corregir tests fallidos y mejorar cobertura al 35%
  apps/api/src/config/env.ts
  apps/api/tests/unit/controllers/accessListController.test.ts
  apps/api/tests/unit/controllers/authController.test.ts
  apps/api/tests/unit/controllers/notificationController.test.ts
Due: prettier --write, eslint --fix

chore: Ajustar threshold de cobertura a valores alcanzados (35%)
  apps/api/jest.config.js
Due: none

feat: Optimizar Docker y agregar usuario admin por defecto
  .env.example
  ADMIN_USER_GUIDE.md
  MEJORAS_DOCKER.md
  apps/api/.env.example
  apps/api/Dockerfile
  apps/api/src/index.ts
  apps/api/src/utils/initAdminUser.ts
  apps/web/Dockerfile
  apps/web/src/styles/themeToggle.module.css
  docker-compose.local.yml
  docker-compose.production.yml
Due: prettier --write, eslint --fix, stylelint --fix

fix: Corregir variable de entorno REACT_APP_API para solucionar carga infinita
  .env.production.example
  AAPANEL_SETUP.md
  CICD_SETUP.md
  DEPLOYMENT.md
  DOCKER_INSTALL_GUIDE.md
  QUICK_START_CICD.md
  VPS_INSTALLATION.md
  VPS_INSTALLATION_SEGUREPAS2.md
  apps/web/Dockerfile
  docker-compose.local.yml
  docker-compose.production.yml
  docs/PRODUCCION-SETUP.md
  scripts/generate-env.sh
  scripts/setup-production-server.sh
  scripts/vps-docker-install.sh
  scripts/vps-install-segurepas2.sh
  scripts/vps-install.sh
Due: prettier --write

feat: Actualizar sistema de login para aceptar usuario o email
  apps/api/src/controllers/authController.ts
  apps/api/src/interfaces/IUser.ts
  apps/api/src/models/User.ts
  apps/web/src/components/login/Login.tsx
  scripts/create-admin.js
Due: prettier --write, eslint --fix

feat: Agregar sistema de configuración de APIs desde panel de admin
  apps/api/src/controllers/apiConfigController.ts
  apps/api/src/index.ts
  apps/api/src/interfaces/IApiConfig.ts
  apps/api/src/models/ApiConfig.ts
  apps/api/src/routes/apiConfigRoutes.ts
  apps/api/src/services/ApiConfigService.ts
  apps/api/src/services/CloudinaryService.ts
  apps/api/src/services/NotificationService.ts
  apps/api/src/services/PayPalPaymentService.ts
  apps/api/src/services/StripePaymentService.ts
  apps/api/src/utils/apiConfigHelper.ts
  apps/web/src/api/apiConfig.api.ts
  apps/web/src/components/settings/ApiConfiguration.tsx
  apps/web/src/pages/main/Settings.tsx
  apps/web/src/styles/apiConfig.module.css
Due: prettier --write, eslint --fix, stylelint --fix

feat: Implementar mejoras finales de calidad y optimización
  .github/workflows/ci.yml
  README.md
  apps/api/.env.example
  apps/api/src/controllers/paymentController.ts
  apps/api/src/controllers/subscriptionController.ts
  apps/api/src/middlewares/payloadMiddleware.ts
  apps/api/src/middlewares/zodValidationMiddleware.ts
  apps/api/src/schemas/auth.schema.ts
  apps/api/src/schemas/common.schema.ts
  apps/api/src/services/CacheService.ts
  apps/api/src/services/CardPaymentService.ts
  apps/api/src/services/PayPalPaymentService.ts
  apps/api/tests/README.md
  apps/api/tests/integration/health.test.ts
  apps/api/tests/unit/logger.test.ts
  apps/web/src/components/Example2.test.tsx
  docs/ARCHITECTURE.md
Due: prettier --write, eslint --fix

feat: Agregar sistema de configuracion inicial para Docker
  apps/api/src/index.ts
  apps/api/src/interfaces/ISetupConfig.ts
  apps/api/src/models/SetupConfig.ts
  apps/api/src/routes/setupRoutes.ts
  apps/api/src/services/SetupService.ts
  apps/web/src/App.tsx
  apps/web/src/api/setup.api.ts
  apps/web/src/components/login/Login.tsx
  apps/web/src/pages/setup/CreateAdmin.tsx
  apps/web/src/pages/setup/Setup.module.css
  apps/web/src/pages/setup/Setup.tsx
  apps/web/src/styles/theme.css
Due: prettier --write, eslint --fix, stylelint --fix

fix: Corregir errores de TypeScript en setup
  apps/api/src/middlewares/authMiddleware.ts
  apps/api/src/routes/setupRoutes.ts
  apps/api/src/services/SetupService.ts
Due: prettier --write, eslint --fix

fix: Corregir errores de TypeScript en archivos existentes
  apps/api/src/controllers/authController.ts
  apps/api/src/controllers/subscriptionController.ts
  apps/api/src/controllers/visitController.ts
  apps/api/src/models/User.ts
  apps/api/src/services/CardPaymentService.ts
  apps/api/src/services/VisitService.ts
Due: prettier --write, eslint --fix

feat: Implementar usuario de fabrica y mejoras de seguridad ISO 27001
  .env.factory
  FACTORY_CREDENTIALS.md
  SECURITY_IMPROVEMENTS.md
  apps/api/src/index.ts
  apps/api/src/utils/initAdminUser.ts
  docker-compose.yml
  nginx/nginx.conf
  scripts/mongo-init/01-init-db.js
  scripts/quick-start.sh
Due: prettier --write, eslint --fix

feat: Completar aplicaciones mobile y desktop para todas las plataformas
  .github/workflows/build-desktop.yml
  .github/workflows/build-mobile.yml
  BUILD_INSTRUCTIONS.md
  apps/desktop/assets/ICONS_README.md
  apps/desktop/assets/entitlements.mac.plist
  apps/desktop/package.json
  apps/mobile/app.config.ts
  apps/mobile/eas.json
  apps/mobile/package.json
Due: prettier --write
